body {
  font-family: 'Roboto', sans-serif;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.selection-container {
  width: 750px;
}

.specs-list {
  text-align: left;
}

.specs-list li {
  list-style: none;
}

.spec-value {
  text-align: right;
}