body {
  font-family: 'Roboto', sans-serif;
  width: 1000px;
  margin: 0 auto;
}

.header {
  width: 150px;
  margin: 0 auto;
}

.condition-container {
  width: 160px;
  margin: 0 auto;
}

.selection-container {
  list-style-type: none;
  text-align: left;
  margin: 0 auto;
  width: 750px;
}

.selection-container li {
  margin: 0 5px;
}

.submodel-dropdown {
  width: 200px;
  margin: 0 auto;
}

.mpg-list {
  list-style-type: none;
  margin-bottom: -20px;
}

.sub-list-item {
  font-size: 14px;
}

.specs-list {
  text-align: left;
}

.specs-list li {
  list-style: none;
}

.spec-value {
  text-align: right;
}